<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <NavLink class="nav-link text-white" ActiveClass="active"
                 href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link text-white" ActiveClass="active" href="tasks">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Tasks
        </NavLink>
    </li>
</ul>
